<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <div class="header">
        <h1>Fächer Bewertung</h1>
        <p>Schuljahr 2020/21</p>
    </div>

    <div class="container">
        <br>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% if answer %}
            <ul class="collection with-header">
                <li class="collection-header"><h4>Bewertungen {{ answer.subject }}</h4></li>
                <li class="collection-item"><b>zu hoch: </b>{{ answer.high }} Bewertung/en</li>
                <li class="collection-item"><b>genau richtig: </b>{{ answer.correct }} Bewertung/en</li>
                <li class="collection-item"><b>zu niedrig: </b>{{ answer.low }} Bewertung/en</li>
            </ul>
        {% else %}
            <p class="center-align">Keiner Bewertungen des Faches einsehbar</p>
        {% endif %}
        <a class="waves-effect waves-light btn" href="{% url 'answers' answer.subject.id %}">Abstimmen</a>
        <br>
        <h5><a href="{% url 'index' %}">Zurück zur Übersicht</a></h5>
    </div>
</body>
</html>


