body {
    font-family: 'Roboto', sans-serif;
}
li a {
    font-size: 18px;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 30px;
}

span {
    font-size: 20px !important;
}

.header {
    padding: 50px;
    text-align: center;
    background: #44B78B;
    color: white;
    font-size: 30px;
}